name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - ".vscode/**"
  pull_request:
    paths-ignore:
      - "**.md"
      - ".vscode/**"
  workflow_dispatch:

env:
  NODE_VERSION: 18
  JAVA_VERSION: 17

jobs:
  build:
    name: Build
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Set up Java ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: ${{ env.JAVA_VERSION }}
      - name: Install dependencies
        run: npm ci
      - name: Build packages affected by changes
        if: github.ref != 'refs/heads/main'
        run: npm run affected:verify
      - name: Build all packages
        if: github.ref == 'refs/heads/main'
        run: npm run verify
  lint:
    name: Lint
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install dependencies
        run: npm ci
      - name: Lint packages affected by changes
        if: github.ref != 'refs/heads/main'
        run: npm run affected:lint
      - name: Lint all packages
        if: github.ref == 'refs/heads/main'
        run: npm run lint
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [build, lint]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install dependencies
        run: npm ci
      - name: Build all packages
        run: npm run verify:web
      - name: Publish all packages
        run: npm run release:preview
