name: Sponsors

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Update `Sponsors` section (Bronze)
        uses: JamesIves/github-sponsors-readme-action@releases/v1-org
        with:
          token: ${{ secrets.PAT }}
          file: 'README.md'
          organization: true
          minimum: 100
          maximum: 249
          marker: 'bronze-sponsors'
          template: '<a href="https://github.com/{{{ login }}}"><img src="https://github.com/{{{ login }}}.png" alt="{{{ login }}}" width="50px"></a>'
      - name: Update `Sponsors` section (Silver)
        uses: JamesIves/github-sponsors-readme-action@releases/v1-org
        with:
          token: ${{ secrets.PAT }}
          file: 'README.md'
          organization: true
          minimum: 250
          maximum: 499
          marker: 'silver-sponsors'
          template: '<a href="https://github.com/{{{ login }}}"><img src="https://github.com/{{{ login }}}.png" alt="{{{ login }}}" width="75px"></a>'
      - name: Update `Sponsors` section (Gold)
        uses: JamesIves/github-sponsors-readme-action@releases/v1-org
        with:
          token: ${{ secrets.PAT }}
          file: 'README.md'
          organization: true
          minimum: 500
          marker: 'gold-sponsors'
          template: '<a href="https://github.com/{{{ login }}}"><img src="https://github.com/{{{ login }}}.png" alt="{{{ login }}}" width="100px"></a>'
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'docs: update `Sponsors` section'
          file_pattern: README.md
